.bitrise__build-history {
    .commit {
        color: $main-txt-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__item {
        &--running {
            border-left: 20px solid $unknown-color;
        }
        &--cancelled {
            border-left: 20px solid $warning-color;
        }
        &--success {
            border-left: 20px solid $success-color;
        }
        &--failed {
            border-left: 20px solid $failure-color;
        }
    }
}
